.banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.603)), url('../../../assets/banner.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 90vh;
}